@layout('/common/_container.html'){

 <div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>曲线分析</h5>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                       	<div class="row">
							<div class="col-lg-2 col-sm-3" style="width: 21.966667%;margin-left: inherit;">
							<input class="form-control" style="margin-bottom: 10px;" id="search_input" name="code" placeholder="输入名称查询" type="text">
								<div class="panel panel-default" >
									<div class="panel-heading">区域列表</div>
									<div class="panel-body dept-tree">
										<ul id="areaTree" class="ztree"></ul>
									</div>
								</div>
							</div> 
							
							<div class="col-lg-10 col-sm-9" style="margin-right: inherit;width: 79%;">
								<div class="row">
									<div class="col-lg-10 col-sm-9">
										<div class="row form-horizontal"  id="searchForm">
											
											<div class="col-lg-4 col-sm-6">
												<#TimeCon id="beginTime" name="开始时间" isTime="true" pattern="YYYY-MM-DD hh:mm:ss"/>
											</div>
											<div class="col-lg-4 col-sm-6">
												<#TimeCon id="endTime" name="结束时间" isTime="true" pattern="YYYY-MM-DD hh:mm:ss"/>
											</div>
											
											
										</div>
									</div>
									<div class="col-lg-2 col-sm-3">
										<div class="row">
											<div class="col-lg-12 col-sm-12">
												<#button name="搜索" icon="fa-search" clickFun="AirCurve.search()"/>
												<#button name="重置" icon="fa-trash" clickFun="AirCurve.resetSearch()" space="true"/>
											</div>
										</div>
									</div>
								</div>
								<div class="row" id="curve_graph" >
								
									<!-- 为 ECharts 准备一个具备大小（宽高）的 DOM -->
    								<div id="main" style="width: 100%;height: 700px;" ></div>
								</div>
							</div>
							
							
							
							
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="${ctxPath}/static/modular/air/curve/air_curve2.js"></script>
<script type="text/javascript">
//Generate data
var category = [];
var dottedBase = +new Date();
var lineData = [];
var barData = [];

for (var i = 0; i < 20; i++) {
    var date = new Date(dottedBase += 3600 * 24 * 1000);
    category.push([
        date.getFullYear(),
        date.getMonth() + 1,
        date.getDate()
    ].join('-'));
    var b = Math.random() * 200;
    var d = Math.random() * 200;
    barData.push(b)
    lineData.push(d + b);
}


// option
option = {
    //backgroundColor: '#0f375f',
    tooltip: {
        trigger: 'axis',
        axisPointer: {
            type: 'shadow'
        }
    },
    toolbox: {    //工具栏显示             
        show: true,
        feature: {                
	        mark : {show: true},  
	        dataView : {show: true, readOnly: false},  
	        magicType : {show: true, type: ['line', 'bar']},  
	        restore : {show: true},  
	        saveAsImage : {show: true} 
        }
    },
    legend: {
        data: ['line', 'bar'],
        textStyle: {
            color: '#ccc'
        }
    },
    xAxis: {
        data: category,
        axisLine: {
            lineStyle: {
                color: '#ccc'
            }
        }
    },
    yAxis: {
        splitLine: {show: false},
        axisLine: {
            lineStyle: {
                color: '#ccc'
            }
        }
    },
    series: [{
        name: 'line',
        type: 'line',
        smooth: true,
        showAllSymbol: true,
        symbol: 'emptyCircle',
        symbolSize: 15,
        data: lineData
    }, {
        name: 'bar',
        type: 'bar',
        barWidth: 10,
        itemStyle: {
            normal: {
                barBorderRadius: 5,
                color: new echarts.graphic.LinearGradient(
                    0, 0, 0, 1,
                    [
                        {offset: 0, color: '#14c8d4'},
                        {offset: 1, color: '#43eec6'}
                    ]
                )
            }
        },
        data: barData
    }, {
        name: 'line',
        type: 'bar',
        barGap: '-100%',
        barWidth: 10,
        itemStyle: {
            normal: {
                color: new echarts.graphic.LinearGradient(
                    0, 0, 0, 1,
                    [
                        {offset: 0, color: 'rgba(20,200,212,0.5)'},
                        {offset: 0.2, color: 'rgba(20,200,212,0.2)'},
                        {offset: 1, color: 'rgba(20,200,212,0)'}
                    ]
                )
            }
        },
        z: -12,
        data: lineData
    }, {
        name: 'dotted',
        type: 'pictorialBar',
        symbol: 'rect',
        itemStyle: {
            normal: {
                color: '#0f375f'
            }
        },
        symbolRepeat: true,
        symbolSize: [12, 4],
        symbolMargin: 1,
        z: -10,
        data: lineData
    }]
};
myChart.setOption(option);
     	
</script>

@}


